
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding: 0;

    margin:0;
}
.barrasuperior{
width: 100%;

color: #576676;
     background-color: #201e3d;
     height: 35px;
         line-height: 36px;
         text-align: center;
         text-decoration: none;
}
div{


    display: inline-block;
}
w-contacts{


    float: left;
}